.contents_title_xlarge { font-size: 70px; font-weight: bold; letter-spacing: -5px; }
.contents_title_large { font-size: 65px; font-weight: 800; letter-spacing: -2px; line-height: 120%; }
.contents_title_medium { font-size: 50px; font-weight: 600; letter-spacing: -4px; line-height: 160%; }
.contents_title_small { font-size: 48px; font-weight: 600; letter-spacing: -1px; line-height: 120%; }
.contents_title_xsmall { font-size: 36px; font-weight: bold; letter-spacing: -2px; line-height: 170%; }

.contents_article_xxlarge { font-size: 40px; font-weight: 400; letter-spacing: -5px; }
.contents_article_xlarge { font-size: 32px; font-weight: 400; letter-spacing: -2px; }
.contents_article_large { font-size: 30px; font-weight: bold; letter-spacing: -1px; line-height: 120%; color: #fff; }
.contents_article_medium { font-size: 28px; font-weight: 600; letter-spacing: -2px; line-height: 120%; color: #AAAAAA; }
.contents_article_small { font-size: 20px; font-weight: 600; }
.contents_article_xsmall { font-size: 18px; font-weight: 400; }
.contents_article_city { font-size: 32px; font-weight: 500; letter-spacing: -2px; color: #000; }

/*부분 색*/
.type_01 { color: #32903F; }
.type_02 { color: #859636; }
.type_03 { color: #DEC54B; }
.type_04 { color: #DEC54B; text-decoration: underline; text-decoration-color: #DEC54B;}

.other_weight { font-weight: 400; }